h1#tprofessor {
		color:orange;
		margin-left:320px;
		margin-top:10px;
		font-size:20px;
	}
	
h1#taluno {
		color:orange;
		margin-left:334px;
		margin-top:10px;
		font-size:20px;
	}
	
h3 {
		color:black;
		font-weight: bold;
		cursor: pointer;
		font-size:16px;
	}
	
h3:hover {
		color:orange;
		text-decoration:underline;
		
	}
	
.accordiondiv{
			text-align:left;
			font-family: tahoma;
			color: black;
			font-size:12px;
			margin-bottom:5px;
			margin-top:0px;
		}
.accordiondiv li {
	margin-bottom:10px;
}