 .style2
        {
            width: 96px;
            height: 34px;
        }
        .style3
        {
            height: 34px;
        }
        .style4
        {
            width: 123px;
        }
        .style5
        {
            width: 157px;
            text-align: center;
        }
        .style6
        {
            text-align: center;
        }
        .style7
        {
            text-align: left;
        }