#imagemhome
{
	position:absolute;
	margin-left:476px;
	heigth:244px;
	width:284px;
}

#textohome
{
	position:absolute;
	margin-top:55px;
	height:94px;
	width:506px;
}

#imagemaluno
{
	position:absolute;
	height:59px;
	width:68px;
	margin-left:510px;
	margin-top:220px;
}

#imagemprofessor
{
	position:absolute;
	height:77px;
	width:83px;
	margin-left:200px;
	margin-top:200px;
}

#textoprofessor
{
	
	height:173px;
	width:312px;
	margin-left:89px;
	margin-top:279px;
}

#textoaluno
{
	position:absolute;
	height:135px;
	width:258px;
	margin-left:20px;
	margin-top:280px;
}